.item-list-container {
    flex-direction: column;
    padding: 20px;
    margin: auto;
    max-width: 80%;
    min-height: 300px;
    gap: 20px;
}

.item-list-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media only screen and (min-width: 1024px) {
    .item-list-container {
        max-width: 500px;
    }
}
