main {
    padding: 20px;
}

.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    color: #ffffff;
}

.App-header {
    font-size: calc(10px + 1vmin);
}

.App-header nav {
    display: flex;
    justify-content: center;
}

.App-header nav a {
    color: #b9b8b8;
}
.App-header nav a.active {
    color: #ffffff;
}
.App-header nav {
    display: flex;
    gap: 10px;
}
